@model polinademo.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductArticleNumber" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUnitOfMeasurement" class="control-label"></label>
                <input asp-for="ProductUnitOfMeasurement" class="form-control" />
                <span asp-validation-for="ProductUnitOfMeasurement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCost" class="control-label"></label>
                <input asp-for="ProductCost" class="form-control" />
                <span asp-validation-for="ProductCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductMaxDiscountAmount" class="control-label"></label>
                <input asp-for="ProductMaxDiscountAmount" class="form-control" />
                <span asp-validation-for="ProductMaxDiscountAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductManufacturer" class="control-label"></label>
                <input asp-for="ProductManufacturer" class="form-control" />
                <span asp-validation-for="ProductManufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSupplier" class="control-label"></label>
                <input asp-for="ProductSupplier" class="form-control" />
                <span asp-validation-for="ProductSupplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategory" class="control-label"></label>
                <input asp-for="ProductCategory" class="form-control" />
                <span asp-validation-for="ProductCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDiscountAmount" class="control-label"></label>
                <input asp-for="ProductDiscountAmount" class="form-control" />
                <span asp-validation-for="ProductDiscountAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductQuantityInStock" class="control-label"></label>
                <input asp-for="ProductQuantityInStock" class="form-control" />
                <span asp-validation-for="ProductQuantityInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPhoto" class="control-label"></label>
                <input asp-for="ProductPhoto" class="form-control" />
                <span asp-validation-for="ProductPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
