@model IEnumerable<polinademo.Models.Product>

@{
    ViewData["Title"] = "Магазин";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Магазин</h1>

<div class=" row row-cols-2 row-cols-md-2 g-4">
@foreach (var item in Model) {
    
   <div class="card mb-3" style="max-width:100%;">
      <div class="row g-0">
        <div class="col-md-4">
                <img src="/image/@item.ProductPhoto" class="img-fluid rounded-start" onError="this.src='/image/picture.png'"/>
        </div>
        <div class="col-md-8">
          <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <p class="card-text">@item.ProductDescription</p>
            <p class="card-text"><small class="text-body-secondary">Можно что то еще написать</small></p>
          </div>
        </div>
      </div>
        </div>

            }
        </div>


